<div class="index-header-logged-in">
  <div class="logo">Private Events!</div>
  <div class="index-header-logged-in-right">
      <%= button_to "home", root_path, method: :get, class:"button" %>
  </div>
</div>

<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class:"label" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
                     class:"form-field" %>
  </div>

  <div class="field">
    <%= f.label :email, class:"label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                      class:"form-field" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"label" %>
    <% if @minimum_password_length %>
      <div class="label">
        <em>(<%= @minimum_password_length %> characters minimum)</em></h3>
      </div>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",
                         class:"form-field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                         class:"form-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Create an Account!" %>
  </div>
<% end %>

<h2><%= render "devise/shared/links" %></h2>
