<h1>New User</h1>
The current user is <%= session[:current_user_name] %>.

<%= form_with url: users_path, method: :post do |f| %>
  <%= f.label :name, 'Your name here:   ' %>
  <%= f.text_field :name, placeholder: "name", value: "Mike" %><br><br>
  <%= f.submit "Submit" %>
<% end %>
