<h1>Users Show Page</h1>
The current user is <%= session[:current_user_name] %>.<br>
Here are all of <%= @user.name %>'s created events:<br>
<% @user.created_events.each do |event| %>
  <%= event.description %><br>
<% end %>
<%= @user.name %> has gone to the following events in the past:<br>
<% @user.attended_events.past.each do |event| %>
  <%= event.description %><br>
<% end %>
<%= @user.name %> is going to the following events in the future:<br>
<% @user.attended_events.upcoming.each do |event| %>
  <%= event.description %><br>
<% end %>
