<h2><%= title %></h2>

<% events.each do |e| %>
  Creator:
  <%= e.creator.name %><br>
  Name:
  <%= e.name %><br>
  Description:
  <%= e.description %><br>
  Date:
  <%= e.date %><br>
  Time:
  <%= e.time.to_s(:time) %><br>
  Location:
  <%= e.location %><br>
  <%= link_to "show event", e %><br>

  <% if current_user %>
    <% user_ticket = current_user.ticket_for e %>
    <% if time_category != :past && user_ticket && !user_ticket.attending? %>
      <h2>You're invited!</h2>
      <%= form_with model: Ticket.find(user_ticket[:id]), local: true do |f| %>
        <%= f.hidden_field 'attending', value: true %>
        <%= f.submit 'Attend it!' %>
      <% end %><br>
    <% elsif time_category != :past && user_ticket&.attending? %>
      <h2>Attending</h2>
      <%= form_with model: Ticket.find(user_ticket[:id]), local: true do |f| %>
        <%= f.hidden_field 'attending', value: false %>
        <%= f.submit 'Unattend it!' %>
      <% end %>
    <% end %><br>
  <% end %>
<% end %>
