<h2><%= title %></h2>

<% events.each do |e| %>
  Creator:
  <%= e.creator.name %><br>
  Name:
  <%= e.name %><br>
  Description:
  <%= e.description %><br>
  Date:
  <%= e.date %><br>
  Time:
  <%= e.time %><br>
  Location:
  <%= e.location %><br>
  <%= link_to "show event", e %><br>

  <% if current_user %>
    <% user_tickets = current_user.tickets.where('attended_event_id = ?', e.id) %>
    <% if events != @past_events && user_tickets.exists? &&
                                 user_tickets.first.attending == 0 %>
      <h2><%= "You're invited!" %></h2>
      <%#= Button to "Attend it!" - sets attending to true %>
    <%# elsif user is attending %>
      <%# <p>Attending</p>%>
      <%#= button_to "Unattend" - sets attendding to false
    <% end %><br>
  <% end %>
<% end %>
