<% events.each do |e| %>
  Creator:
  <%= e.creator.name %><br>
  Name:
  <%= e.name %><br>
  Description:
  <%= e.description %><br>
  Date:
  <%= e.date %><br>
  Time:
  <%= e.time %><br>
  Location:
  <%= e.location %><br>
  <%= link_to "show event", e %><br>
  <% if current_user && events == @future_events &&
                     !current_user.attended_events.exists?(e.id) %>
    <%= form_with url: tickets_path, local: true do |f| %>
      <%= f.hidden_field 'ticket[attended_event_id]', value: e.id %>
      <%= f.submit "Attend it!" %>
    <% end %>
  <% elsif current_user.attended_events.exists?(e.id) %>
    <p>Attending</p>
    <%= button_to "Unattend", ticket_path(current_user.tickets.
                  find_by!(attended_event_id: e.id)),
                  method: :delete, data: { confirm:
                  'Are you sure you want to cancel your reservation?' } %>
  <% end %><br>
<% end %>
