<% if flash.key? :success %>
  <h2><em><%= flash[:success] %></em></h2>
<% elsif flash.key? :error %>
  <h2><em><%= flash[:error] %></em></h2>
<% end %><br>

<% unless current_user %>
  <div class="logo-only">Private Events!</div>
  <div class="index-header-not-logged-in">
    <%= button_to "sign up", new_user_registration_path, 
                             method: :get, class:"button" %>
    <h2><------- PLEASE SIGN UP OR LOG IN TO USE FEATURES -------></h2>
    <%= button_to "log in", new_user_session_path,
                            method: :get, class:"button" %>
  </div>
<% end %>

<% if current_user %>
  <div class="index-header-logged-in">
    <div class="logo">Private Events!</div>
    <div class="index-header-logged-in-right">
      <%= button_to "#{current_user.name}'s events", current_user,
                                                     method: :get,
                                                     class:"button" %>
      <%= button_to "create a new event", new_event_path, method: :get,
                                          class:"button" %>
      <%= button_to "logout", destroy_user_session_path, 
                              method: :delete, class:"button" %>
    </div>
  </div>
  <div class="username-and-email">
    <%= current_user.name %><br>
    <%= current_user.email %><br>
  </div>
<% end %>

<%= render partial: 'events_display', locals: { events: @today_events,
                                                title: "Today's Events",
                                                time_category: :today,
                                                date_order: "date DESC" } %>

<%= render partial: 'events_display', locals: { events: @future_events,
                                                title: "Upcoming Events",
                                                time_category: :future,
                                                date_order: "date DESC" } %>

<%= render partial: 'events_display', locals: { events: @past_events,
                                                title: "Past Events",
                                                time_category: :past,
                                                date_order: "date ASC" } %>
