<h1>New Event</h1>
The current user is <%= session[:current_user_name] %>.

<%= form_for @event do |f| %>
  <%= f.label :description, 'Description:   ' %>
  <%= f.text_field :description, placeholder: "description" %><br><br>
  <%= f.submit "Submit" %>
<% end %>