<div class="index-header-logged-in">
  <div class="logo">Private Events!</div>
  <div class="index-header-logged-in-right">
      <%= button_to "home", root_path, method: :get, class:"button" %>
  </div>
</div>

<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name, class:"label" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
                     class:"form-field" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"label" %><br />
    <%= f.password_field :password, autocomplete: "current-password",
                         class:"form-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in to your account!" %>
  </div>
<% end %>

<h2><%= render "devise/shared/links" %></h2>
